@font-face {
  font-family: "iconfont"; /* Project id 2660429 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1627401550485') format('woff2'),
       url('iconfont.woff?t=1627401550485') format('woff'),
       url('iconfont.ttf?t=1627401550485') format('truetype');
}

.iconfont,[class^="iconfont"],[class*=" iconfont"]  {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-daifukuanL:before {
  content: "\f155";
}

.iconfont-daifukuan:before {
  content: "\ee8a";
}

.iconfont-tuikuan:before {
  content: "\e600";
}

.iconfont-tuihuo:before {
  content: "\e62c";
}

.iconfont-huanhuo:before {
  content: "\e635";
}

.iconfont-jiabao:before {
  content: "\e64b";
}

.iconfont-daifahuo1:before {
  content: "\f130";
}

.iconfont-daishouhuo1:before {
  content: "\f131";
}

.iconfont-shouhou1:before {
  content: "\f132";
}

.iconfont-dingdan1:before {
  content: "\f14a";
}

.iconfont-xiaoxi:before {
  content: "\f14d";
}

.iconfont-guanjun:before {
  content: "\e7a9";
}

.iconfont-yonghu:before {
  content: "\ee95";
}

.iconfont-tuichu:before {
  content: "\e653";
}

.iconfont-chuangyexiangmu:before {
  content: "\e652";
}

.iconfont-shangpu-copy:before {
  content: "\f14e";
}

.iconfont-shangpu:before {
  content: "\ee9a";
}

.iconfont-fenlei:before {
  content: "\eea7";
}

.iconfont-fankuiW:before {
  content: "\f154";
}

.iconfont-fankuiL:before {
  content: "\f156";
}

.iconfont-fankui:before {
  content: "\ee9b";
}

.iconfont-dingdanW:before {
  content: "\f150";
}

.iconfont-dingdanlan-copy:before {
  content: "\eea8";
}

.iconfont-dingdan:before {
  content: "\ee91";
}

.iconfont-dingdanL:before {
  content: "\f157";
}

.iconfont-daifahuoW:before {
  content: "\f151";
}

.iconfont-daishouhuoW:before {
  content: "\f152";
}

.iconfont-shouhouW:before {
  content: "\f153";
}

.iconfont-daifahuoL:before {
  content: "\f158";
}

.iconfont-daishouhuoL:before {
  content: "\f159";
}

.iconfont-daifahuo:before {
  content: "\ee8e";
}

.iconfont-shouhouL:before {
  content: "\f15a";
}

.iconfont-daishouhuo:before {
  content: "\ee8f";
}

.iconfont-shouhou:before {
  content: "\ee97";
}

