@font-face {
  font-family: "iconfont"; /* Project id 2660429 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1626335290555') format('woff2'),
       url('iconfont.woff?t=1626335290555') format('woff'),
       url('iconfont.ttf?t=1626335290555') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-yonghu:before {
  content: "\ee95";
}

.iconfont-tuichu:before {
  content: "\e653";
}

.iconfont-chuangyexiangmu:before {
  content: "\e652";
}

.iconfont-shangpu:before {
  content: "\ee9a";
}

.iconfont-fenlei:before {
  content: "\eea7";
}

.iconfont-fankui:before {
  content: "\ee9b";
}

.iconfont-dingdanlan-copy:before {
  content: "\eea8";
}

.iconfont-dingdan:before {
  content: "\ee91";
}

.iconfont-daifahuo:before {
  content: "\ee8e";
}

.iconfont-daishouhuo:before {
  content: "\ee8f";
}

.iconfont-shouhou:before {
  content: "\ee97";
}

